In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Realestate.csv')

In [3]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
data.dtypes

No                               int64
transaction                    float64
houseAge                       float64
distanceToNearestMRTstation    float64
numberOfConvenienceStores        int64
latitude                       float64
longitude                      float64
housePriceOfUnitArea           float64
dtype: object

In [5]:
data.height.mean()

AttributeError: 'DataFrame' object has no attribute 'height'

In [6]:
data.houseAge.mean()

17.62033492822966

In [7]:
data.houseAge

0      32.0
1      19.5
2      13.3
3      13.3
4       5.0
       ...
413    13.7
414     5.6
415    18.8
416     8.1
417     6.5
Name: houseAge, Length: 418, dtype: float64

In [8]:
data.houseAge.min()

0.0

In [9]:
data.houseAge.max()

43.8

In [10]:
data.houseAge.mean()

17.62033492822966

In [11]:
data.houseAge.std()

11.428348063298536

In [12]:
houseAge = data.houseAge

In [13]:
norm = (houseAge - houseAge.mean()) / houseAge.std()
norm

0      1.258245
1      0.164474
2     -0.378037
3     -0.378037
4     -1.104301
         ...
413   -0.343036
414   -1.051800
415    0.103223
416   -0.833046
417   -0.973048
Name: houseAge, Length: 418, dtype: float64

In [14]:
minmax = (houseAge - houseAge.min()) / (houseAge.max() - houseAge.min())
minmax

0      0.730594
1      0.445205
2      0.303653
3      0.303653
4      0.114155
         ...
413    0.312785
414    0.127854
415    0.429224
416    0.184932
417    0.148402
Name: houseAge, Length: 418, dtype: float64

In [15]:
minmax.min()

0.0

In [16]:
minmax.max()

1.0

In [17]:
data

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,NaN
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
413,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
414,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
415,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
416,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
417,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [18]:
data.HouseAge = minmax

C:\Users\carol\AppData\Local\Temp\ipykernel_19600\1877620786.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.HouseAge = minmax

In [19]:
data.houseAge = minmax

In [21]:
data['houseAgeStandardized'] = norm

In [22]:
data.new_column = norm

C:\Users\carol\AppData\Local\Temp\ipykernel_19600\2295043221.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.new_column = norm

In [23]:
data.head()

,No,transaction,houseAge,distanceToNearestMRTstation,numberOfConvenienceStores,latitude,longitude,housePriceOfUnitArea,standardized_houseAge,houseAgeStandardized
0,1,2012.917,0.730594,84.87882,10,24.98298,121.54024,NaN,1.258245,1.258245
1,2,2012.917,0.445205,306.59470,9,24.98034,121.53951,42.2,0.164474,0.164474
2,3,2013.583,0.303653,561.98450,5,24.98746,121.54391,47.3,-0.378037,-0.378037
3,4,2013.500,0.303653,561.98450,5,24.98746,121.54391,54.8,-0.378037,-0.378037
4,5,2012.833,0.114155,390.56840,5,24.97937,121.54245,43.1,-1.104301,-1.104301